/*------------------------------------*\
		コメント
\*------------------------------------*/
.comments {
  li {
    margin-bottom: $space;
  }
}

.comment-container {
  overflow: hidden;
  margin-bottom: $space;
  list-style: none;
}

.comment-meta {
  float: left;
  // width: 6.8em;

  img {
    display: block;
    border: 1px solid $gray-light;
    margin-bottom: $space-half;
  }
}

.comment-name {
  font-size: $font-size-small;
}

.comment-text {
  margin-left: 9em;
}

.comments-title {
  font-size: 1.4em;
}

.comment-reply-title {
  font-size: 1.4em;
}
