/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	clear: both;
	overflow: hidden;
	background: $footer-bg;
	color: $white;
	line-height: 3em;
	margin-top: 3em;
	a {
		color: $gray-light;
	}
}

.footer-contents{
	@extend .cf;
}
.widget-footer{
	@include span-columns( 3 );
}

//Footer Nav
.nav-footer {
	margin: (-$pad) (-$pad) $space;

	li {
		border-bottom: 1px solid $gray-dark;

		@media all and (min-width: $bp-med) {
			border: 0;
			float: left;
		}
	}

	a {
		display: block;
		padding: $pad;
	}
}

.footer--copyright{
	text-align: center;
}

.copyright {
	text-align: center;
	@media all and (min-width: $bp-med) {
		float: right;
	}
}
