/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

$total_columns    : 12;
$total_width      : 100%;
$gutter_width     : 1%;
$container_margin : auto;

$class_container : 'row';
$class_column    : 'col';
$class_push      : 'push';


/* Layout Container */
.lc {
	// max-width: $max-width;
	margin: 0 auto;
	// padding: $pad-half;
}

/*------------------------------------*\
    $TEMPLATES
\*------------------------------------*/

.container{
	@include container();
	@include clearfix();

	@media (max-width: $bp-small-3) {
		float: none;
		width: 100%;
		padding-right: 0;
	}

}

/* Two Column Layout */
.l-two-col {
	@extend .cf;

	.l-main {
		@include column(9);

		@media (max-width: $bp-small-3) {
			float: none;
			width: 100%;
			padding-right: 10px;
			margin-right: 0px;
		}
	}

	.l-sidebar {
		@include column(3);
		@include push(9);

		@media (max-width: $bp-small-3) {
			float: none;
			width: 100%;
			margin-right: 0px;
			margin-left: 0px;
			padding: 10px;
		}

	}
}


/*------------------------------------*\
    $GRIDS
\*------------------------------------*/

/* Grid Container */
.g {
	overflow: hidden;
	margin: 0 (-$pad-half);
}
#row1, #row2, #row3, #row4, #row5, #row6{
	div{
		@include column(12);
	}
	@include generate_grid_positions(div, 12);
}


///////////////////
// LAYOUT > 720  //
///////////////////

@media screen and (min-width: 720px) {

	$total_width: 100%;
	$container_margin: 1%;
	$gutter_width: 2%;
	$max_width: 2000px;

	#row1{
		div{@include column(2);}
		@include generate_grid_positions(div, 2);
	}
	#row2{
		div{@include column(2);}
		@include generate_grid_positions(div, 2);
	}
	#row3{
		div{@include column(4);}
		@include generate_grid_positions(div, 4);
		div.last{@include column(12);};
	}
	#row4{
		div{@include column(4);}
		@include generate_grid_positions(div, 4);
	}
	#row5{
		div{@include column(6);}
		@include generate_grid_positions(div, 6);
	}
	#row6{
		div{@include column(12);}
	}
}


///////////////////
// LAYOUT > 960  //
///////////////////

@media all and (min-width: 960px) {

	$total_width: 100%;
	$container_margin: 1%;
	$gutter_width: 2%;
	$max_width: 2000px;

	#row1{
		div{@include column(1);}
		@include generate_grid_positions(div, 1);
	}
	#row2{
		div{@include column(2);}
		@include generate_grid_positions(div, 2);
	}
	#row3{
		div{@include column(3);}
		div.last{@include column(3);}
		@include generate_grid_positions(div, 3);
	}
	#row4{
		div{@include column(4);}
		@include generate_grid_positions(div, 4);
	}
	#row5{
		div{@include column(6);}
		@include generate_grid_positions(div, 6);
	}
	#row6{
		div{@include column(12);}
	}
}
