/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

/* Layout Container */
.lc {
	// max-width: $max-width;
	margin: 0 auto;
	// padding: $pad-half;
}

/*------------------------------------*\
    $TEMPLATES
\*------------------------------------*/

.container{
  @include outer-container;
	@include clearfix();

	@media (max-width: $bp-small-3) {
		float: none;
		width: 100%;
		padding-right: 0;
	}

}

/* Two Column Layout */
.l-two-col {
	@extend .cf;

	.l-main {
	  @include span-columns(9);
		@media (max-width: $bp-small-3) {
			float: none;
			width: 100%;
			padding-right: 10px;
			margin-right: 0px;
		}
	}

	.l-sidebar {
	  @include span-columns(3);
		@media (max-width: $bp-small-3) {
			float: none;
			width: 100%;
			margin-right: 0px;
			margin-left: 0px;
			padding: 10px;
		}

	}
}


/*------------------------------------*\
    $GRIDS
\*------------------------------------*/

