/*------------------------------------*\
		$NAVIGATION
\*------------------------------------*/
/**
  * @name Navbar-Symbol
  * @description Style for the navbar-symbol class
  * @markup
  *   <span class="navbar-symbol">
  *     <i class="fa fa-home"></i>
  *   </span>
  */

.navbar-symbol{
	float: left;
	line-height: 1.33em;
	display: inline-block;
	margin-right: 0.8em;
	font-size: 2.2em;
	color: lighten( $primary-color, 30 );
}

.navbar {
	text-align: left;
	margin-bottom: 2em;
	text-align: right;
	line-height: 0em;
}
.navbar-collapse{
	> ul {
		list-style: none;
		padding: 0px;
		margin: 0px;
		font-weight: bold;
		> li {
			display: inline-block;
			position: relative;
			&.current-menu-item{
				a{
					background: $nav_active_background;
				}
			}
			> a {
				display: inline-block;
				text-decoration: none;
				color: $nav_normal_color;
				transition: 0.1s ease background;
				padding: 12px 20px;
				border-radius: $nav_border_radius;
				background-color: $nav_normal_background;
				line-height: 1.2em;
				vertical-align: top;
				margin-left: 1em;
				text-shadow: 1px 1px 1px rgba(0,0,0,0.05);
				&:hover {
					background-color: $nav_hover_background;
				}
				&:active {
					background: $nav_active_background;
					box-shadow: inset 0px 2px 2px rgba( 0,0,0,0.1 );
				}
			}
			.dropdown-menu {
				opacity: 0;
				display: none;
				position: absolute;
				background-color: $nav_dropdown_background;
				z-index: 1000;
				// top: 0px;
				> li {
					display: block;
					float: none;
					> a {
						display: inline-block;
					}
				}
			}
			&:hover{
				.dropdown-menu {
					opacity: 1;
					display: block;
					background-color: $nav_dropdown_background_hover;
					box-shadow: inset 0px 2px 2px rgba( 0,0,0,0.1 );
					> li {
						display: block;
						float: none;
						> a {
							display: block;
							&:hover{
								background: #FFF;
							}
							&:active {
								box-shadow: inset 0px 2px 2px rgba( 0,0,0,0.1 );
							}
						}
					}
				}
			}
		}
	}
}


@media all and (max-width:640px){

	.nav {
		padding: 10px 0 0 0;
	}

	.nav ul li a {
		padding: 5px 10px;
	}
	.collapse li{
		position: relative;
		display: block;
		z-index: 100000;
		width: 100%;
			margin: 0;
		a{

			width: 100%;
			display: block;
			text-align: center;
			margin-left: 0 !important;
		}
	}
	.js .nav-collapse {
		overflow: visible !important;
	}

}


.nav {
	clear: both;
	display: inline-block;
	max-height: 0;

	a {
		display: block;
		padding: $pad;
		border-top: 1px solid $gray-light-2;
	}

	&.active {
		max-height: 40em;
	}

	@media all and (min-width: $bp-med) {
		max-height: none;
		clear: none;

		li {
			float: left;
		}

		a {
			border: 0;
		}

	}
}



/**
  * @name Navigation
  * @description Style for the navigation class
  * @markup
  *   <div class="navigation">markup</div>
  */
.navigation{
	.navigation-title{
		font-size: 1.4em;
	}
}

.pagination{
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: $pad-half $pad-half $pad-half;
	background: $gray-light-2;
	position: relative;
	.page-numbers{
		padding: $pad;
		&.current{
			background: $primary-color;
			color: $white;
		}
	}
	.prev{
		position: absolute;
		left: 0;
		top: 0;
		@extend .btn;
	}
	.next {
		position: absolute;
		right: 0;
		top: 0;
		@extend .btn;
	}

}


/**
  * @name Breadcrumbs
  * @description Style for the breadcrumbs class
  * @markup
  *   <div class="breadcrumbs">markup</div>
  */

.breadcrumbs{
	background: $gray-light-2;
	padding: 0.1em 0.9em;
	li{
		display: inline;
	}
}
