/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
h1, .alpha   {
	font-size: 2em;
	line-height: $line-height-base;
}

h2, .beta    {
	font-size: 1.8em;
	line-height: $line-height-base;
}

h3, .gamma   {
	font-size: 1.6em;
	line-height: $line-height-base;
}

h4, .delta   {
	font-size: 1.4em;
	line-height: $line-height-base;
}

h5, .epsilon {
	font-size: 1.2em;
	line-height: $line-height-base;
}

h6, .zeta    {
	line-height: $line-height-base;
}

/**
  * @name Subheading
  * @description Style for the subheading class
  * @markup
  *   <div class="subheading">epigone</div>
  */

.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}

.widget-title{
	line-height: 2.2em;
	font-size: 1.1em;
	letter-spacing: 1px;
	padding-left: 0.7em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: $white;
	background: $secondary-color;
	&:before{
		@extend .fa;
		@extend .fa-dot-circle-o;
		margin-right: 0.4em;
	}
}
.entry-title{
	color: $primary-color;
	a{
		color: $primary-color;
	}
}
