/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
h1, .alpha   {
	font-size: 2em;
	line-height: $line-height-base;
}

h2, .beta    {
	font-size: 1.8em;
	line-height: $line-height-base;
}

h3, .gamma   {
	font-size: 1.6em;
	line-height: $line-height-base;
}

h4, .delta   {
	font-size: 1.4em;
	line-height: $line-height-base;
}

h5, .epsilon {
	font-size: 1.2em;
	line-height: $line-height-base;
}

h6, .zeta    {
	line-height: $line-height-base;
}

/**
  * @name Subheading
  * @description Style for the subheading class
  * @markup
  *   <div class="subheading">epigone</div>
  */

.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}

.entry-title{
	color: $base-color;
	a{
		color: $base-color;
	}
}
