/*------------------------------------*\
    $MAIN
\*------------------------------------*/
body {
	background: $white;
	font: 100%/1.5 $font;
	line-height: $line-height-base;
	-webkit-text-size-adjust: 100%;
	color: $gray-dark;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
