/*------------------------------------*\
		$TEXT
\*------------------------------------*/
p {
	margin-bottom: $space;
	line-height: $line-height-base;
}

/**
	* @name Blockquote
	* @description Style for the blockquote element
	* @markup
	*   <blockquote>Markup</blockquote>
	*/

blockquote {
		font-style:italic;
		border-left: 1px solid $gray;
		color: $gray;
	padding-left: $pad;
	margin-bottom: $space;
}

/**
	* @name Hr
	* @description Style for the hr element
	* @markup
	*   <hr />
	*/
hr {
	border: 0;
		height: 2px;
		background: $gray-light;
		margin: $space-double 0;
}

/**
	* @name Abbr
	* @description Style for the abbr element
	* @markup
	*   <abbr>Markup</abbr>
	*/

abbr {
		border-bottom: 1px dotted $gray;
		cursor: help;
}
