/*------------------------------------*\
    $ASIDE
\*------------------------------------*/

// メインエリアのウィジェット
.l-main{
  .widget-title {
    border-left: 3px solid #373737;
    padding-left: 1em;
    margin-top: 1.6em;
    margin-bottom: 1em;
  }
  .widget-content{
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .widget-content:first-child{
    margin-top: 0;
  }
}



.sidebar {
  .widget-title {
    border-left: 3px solid #373737;
    padding-left: 1em;
    margin-top: 0.3em;
    font-size: rem-calc(18);
    margin-bottom: 0.8em;
  }
  .widget {
    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      box-shadow: 0 1px 1px rgba(0,0,0,0.03);
      li {
        border: 1px solid #f1f1f1;
        margin-top: -1px;
        background-color: #fff;
        padding-left: .5em;
        padding-right: .5em;
        padding-top: 0.5em;
        padding-bottom: .5em;
        &:before {
          @extend .fa;
          @extend .fa-chevron-right;
          color: #fff;
          margin-right: 5px;
          transform: scale(0.7);
          transform-origin: 50% 50%;
          border-radius: 22px;
          background-color: #000000;
          display: inline-block;
          width: 1.8em;
          height: 1.8em;
          padding-top: 5px;
          font-size: 13px;
          padding-left: 1px;
          text-align: center;
        }
        transition: background ease-in-out .2s;

        &:hover {
          a {
            color: #FFF;
          }
          .children{
            height: auto;
            transform: scaleY(1) skew(0deg);
            margin-top: 1em;
            opacity: 1;
            a{
              color: #333;
            }
          }
        }

      }
      .children{
        height: 0;
        transform-origin: 0 0;
        transform: scaleY(0) skew(20deg);
        opacity: 0;
        transition: all ease-in-out .2s;
      }
    }

  }
}

.widget_search {
  button {
    font-size: 14px;
  }
}

#wp-calendar {
  border: none;
  caption {
    margin-top: 1em;
    font-size: 0.8em;
    line-height: 1.2em;
  }
  th {
    border: none;
    padding: 0;
    text-align: center;
    background: none;
    font-size: 0.8em;
  }
  tfoot {
    border: none;
    td {
      border: none;
    }
    #next {
      text-align: right;
    }
  }
  tbody {
    td {
      border: none;
      padding: 0;
      text-align: center;
      line-height: 1.7em;
      // display: inline-block;
      width: 2em;
      height: 2.1em;
      padding-top: 0.2em;
      background: #FFF;
      // -webkit-border-radius: 50%;
      // border-radius: 50%;
      -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
      &.pad {
        background: none;
        -webkit-border-radius: 0%;
        border-radius: 0%;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      a {
        display: inline-block;
        vertical-align: middle;
        color: #FFF;
        width: 2em;
        height: 2em;
        padding-top: 0.2em;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
.entry .widget-content{
  margin-top: 1em;
  margin-bottom: 1em;
}

.sidebar {
  margin-bottom: 2em;
}
