/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

.footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background: #373737;
  color: #fff;
}

.footer-copyright {
  border-top: none;
}

.footer .widget-title {
  font-size: rem-calc(18);
  color: #fff;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 0.6em;
}
