/*------------------------------------*\
		$HEADER
\*------------------------------------*/

.header {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 0em;

  // 説明文
  &__description{
    margin-bottom: 2.6em;
    font-size: rem-calc(13);
  }
  // ロゴ
  &__logo{

  }
}

.top-bar.global-navigation{

}
