/*------------------------------------*\
		$LAYOUT
\*------------------------------------*/

body {
  -webkit-font-smoothing: antialiased;
}

/* Layout Container */
.lc {

}

/*------------------------------------*\
		$TEMPLATES
\*------------------------------------*/

.wrapper {
  margin-top: 1.5em;
  .l-main {
    @include grid-column(8.19);
    @media (max-width: 768px) {
      @include grid-column(12);
    }
  }

  .l-sidebar {
    @include grid-column(3.81);
    @media (max-width: 768px) {
      @include grid-column(12);
    }
  }
}

.container {
}

/* Two Column Layout */
.l-two-col {


  .l-main {

  }

  .l-sidebar {

  }
}

.l-right-sidebar {
  .l-main {
    float: left;
  }

  .l-sidebar {
    float: right;
  }
}

.l-left-sidebar {
  .l-main {
    float: right;
  }

  .l-sidebar {
    float: left;
  }
}

.l-full{
  .l-main {
    width: 100%;
  }

  .l-sidebar {
    display: none;
  }
}

