/*------------------------------------*\
		$LAYOUT
\*------------------------------------*/

body {
  -webkit-font-smoothing: antialiased;
}


/*------------------------------------*\
		$TEMPLATES
\*------------------------------------*/

.wrapper {
  margin-top: 2.5em;
  .l-main {
    @include grid-column(8.19);
    @media (max-width: 768px) {
      @include grid-column(12);
    }
  }

  .l-sidebar {
    @include grid-column(3.81);
    @media (max-width: 768px) {
      @include grid-column(12);
    }
  }
}


// ------------------------------ \\
// 右サイドバー
// ------------------------------ //

.l-right-sidebar {
  .l-main {
    float: left;
  }

  .l-sidebar {
    float: right;
  }
}

// ------------------------------ \\
// 左サイドバー
// ------------------------------ //
.l-left-sidebar {
  .l-main {
    float: right;
  }

  .l-sidebar {
    float: left;
  }
}

// ------------------------------ \\
// ワンカラム
// ------------------------------ //

.l-full{
  .top-bar,
  .row{
    max-width: rem-calc(760);
  }
  .l-main {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    float: none;
  }
  .l-sidebar {
    display: none;
  }
}
