// ================================= \\
// 見出し
// ================================= //

.entry-title{
  line-height: 1.525em;
  font-size: rem-calc(23);
  a {
    color: #373737;
  }
}
.panel {
  .entry-title{
    font-size: rem-calc(18);
    line-height: 1.4em;
  }
}
