// ================================= \\
// 見出し
// ================================= //

.entry__title{
  line-height: 1.525em;
  font-size: rem-calc(23);
  a {
    color: #373737;
  }
}

.page-header {
  &__title {
    margin-bottom: 2em;
    margin-top: 2em;
  }
}
