// ブログスタイル
.epigone-blog{
  font-family: "NotoSansCJKjp", sans-serif;
  h1,h2,h3,h4,h5,h6{
    font-family: "NotoSansCJKjp", sans-serif;
  }
  .header{
    padding-top: 4em;
    padding-bottom: 4em;
  }

  .entry__meta{
    text-align: center;
  }
  .entry__title{

    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    //font-size: rem-calc(36px);
    font-weight: normal;
    letter-spacing: 2px;
    border-bottom: 1px solid #E8E8E8;
    border-top: 1px solid #E8E8E8;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .entry__content{
    p{
      line-height: 2.125em;
    }
    h1,h2,h3,h4,h5,h6{
      font-family: "NotoSansCJKjp", sans-serif;
      font-weight: normal;
    }
  }
  .l-main{
    margin-bottom: 3em;
  }
}
