/*------------------------------------*\
    $COMMENT
\*------------------------------------*/

.comment-title{
  padding-left: 1em;
  color: #fff;
  line-height: 2em;
}

#comment-list{
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  .comment-author {

    .avatar{
      margin-right: 1em;
    }
  }
  .children{
    list-style: none;
  }
  .comment{
    padding-top: 1em;
    padding-bottom: 1em;
  }
  p{
    margin-bottom: 0.5em;
  }
}
