/*------------------------------------*\
    $FORMS
\*------------------------------------*/
.widget_search{
	.input-group{
		.form-control{
			margin-right: 0;
			padding: 0.87em;
		}
		.input-group-btn{
			margin-left: 0;

			.btn{
				margin: 0;

			}
		}
	}
}
