/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/


// Colors

$base-color         : #3695B5;
$icon-color         : #e5f8ff;
$highlight-color    : #096484;
$notification-color : #e1a948;
$button-color       : #3695B5;

$white        : #fff;
$black        : #000;

$gray-base    : $black;
$gray-darker  : lighten( $gray-base, 13.5% ); // #222
$gray-dark    : lighten( $gray-base, 20% );   // #333
$gray         : lighten( $gray-base, 33.5%); // #555
$gray-light   : lighten( $gray-base, 46.7% ); // #777
$gray-lighter : lighten( $gray-base, 94.5% ); // #eee

$dim          : rgba(0,0,0,0.5);
$error        : #f00;
$valid        : #089e00;
$warning      : #fff664;
$information  : #000db5;

// Typography

$font           : 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
$font-secondary : Georgia, Times, "Times New Roman", serif;

$font-size-small   : 0.75em;
$font-size-small-2 : 0.875em;
$font-size-med     : 1em;
$font-size-med-2   : 1.0625em;
$font-size-large   : 1.4375em;

$line-height-base : 1.7em;



// Defaults
$space          : 1em;
$space-and-half : $space*1.5;
$space-double   : $space*2;
$space-quad     : $space*4;
$space-half     : $space/2;

$pad            : 1em;
$pad-and-half   : $pad*1.5;
$pad-double     : $pad*2;
$pad-half       : $pad/2;
$pad-quarter    : $pad/4;

// Borders
$border-med: 3px;
$border-thick: 7px;

// Breakpoints
$bp-small   : 24em;
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med     : 46.8em;
$bp-med-2   : 48em;
$bp-large   : 49em;
$bp-large-2 : 66em;
$bp-xl      : 73em;
$bp-xxl     : 89em;
$bp-xxxl    : 93em;

// Header

$header-description-background : rgba( $base-color, 0.7);
$header-description-color : $white;
$header-min-height: 400px;

// navbar
$nav-normal-background: $button-color;
$nav-hover-background: lighten( $base-color, 20 );
$nav-active-background: lighten( $base-color, 10 );
$nav-dropdown-background: #FFFFFF;
$nav-dropdown-background_hover: #CCCCCC;

$nav-normal-color: $white;
$nav-hover-color: $white;
$nav-active-color: $white;

$nav-border-radius: 0.2em;

// Footer
$footer-bg: #e8e8e8;

// Layout
$max-width: em(1088);

// Grid
$border-box-sizing        : true;
$column: golden-ratio(1em, 3);
$default-feature          : min-width;
$default-layout-direction : LTR;
$grid-columns: 12;
$gutter: golden-ratio(1em, 1);
$visual-grid-color: #eee;
$visual-grid-index: back;
$visual-grid-opacity: 0.4;
$visual-grid: false;
